@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Acme Corporation</h1>
        <br />
        <p>You can enter the our raffle if you have a valid serialnumber and is minimum 18 years old, each number can be used to enter the raffle two times</p>
        <p>You can enter the raffle here, good luck!</p>
        <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Create", "Raffle") + "'");">Enter raffle</button>
    </div>
